.place__link {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    transition: opacity;
}

.place__link:hover {
    opacity: 0.3;
}