.cover__title {
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #ffffff;
    margin: 0;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 1279px) {
    .cover__title {
        width: 54.68%;
    }
    }

@media screen and (max-width: 1023px) {
    .cover__title {
        width: 72.92%;
    }
    }

@media screen and (max-width: 767px) {
    .cover__title {
        width: 75%;
        font-size: 32px;
        line-height: 35px;
    }
    }