.place__part-right {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 105px;
    align-self: flex-start;
}

@media screen and (max-width: 1279px) {
    .place__part-right {
        padding-left: 32px;
    }
    }

@media screen and (max-width: 1023px) {
    .place__part-right {
        padding-left: 28px;
        padding-top: 0;
    }
    }

@media screen and (max-width: 767px) {
    .place__part-right {
        padding: 0 0 0 16px;
    }
    }